body {
  background-image: url(../public/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-area {
  background-color: #f2f2f2;
  width: 500px; 
  border-radius: 5px;
}

.advice-text {
  margin: auto;
  padding: 20px;
}

.advice-button {
  margin-top: 5%;
  background-color: #06625a;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
}